In [33]:
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [34]:
# Creating dataset
data = {
    "Name": ["Aman","Riya","Rahul","Sneha","Arjun","Pooja","Karan","Neha","Vikram","Anjali","Anshika"],
    "Gender": ["Male","Female","Male","Female","Male","Female","Male","Female","Male","Female","Female"],
    "Department": ["CSE","IT","ECE","CSE","ME","IT","CSE","ECE","ME","CSE","CSSE"],
    "City": ["Delhi","Mumbai","Kolkata","Delhi","Chennai","Mumbai","Delhi","Kolkata","Chennai","Delhi","Bhagalpur"],
    "Performance": ["Good","Average","Poor","Good","Average","Good","Good","Average","Poor","Good","Good"]
}

df = pd.DataFrame(data)

print("Dataset Created Successfully:\n")
print(df)

Dataset Created Successfully:

       Name  Gender Department       City Performance
0      Aman    Male        CSE      Delhi        Good
1      Riya  Female         IT     Mumbai     Average
2     Rahul    Male        ECE    Kolkata        Poor
3     Sneha  Female        CSE      Delhi        Good
4     Arjun    Male         ME    Chennai     Average
5     Pooja  Female         IT     Mumbai        Good
6     Karan    Male        CSE      Delhi        Good
7      Neha  Female        ECE    Kolkata     Average
8    Vikram    Male         ME    Chennai        Poor
9    Anjali  Female        CSE      Delhi        Good
10  Anshika  Female       CSSE  Bhagalpur        Good

In [35]:
data

{'Name': ['Aman',
  'Riya',
  'Rahul',
  'Sneha',
  'Arjun',
  'Pooja',
  'Karan',
  'Neha',
  'Vikram',
  'Anjali',
  'Anshika'],
 'Gender': ['Male',
  'Female',
  'Male',
  'Female',
  'Male',
  'Female',
  'Male',
  'Female',
  'Male',
  'Female',
  'Female'],
 'Department': ['CSE',
  'IT',
  'ECE',
  'CSE',
  'ME',
  'IT',
  'CSE',
  'ECE',
  'ME',
  'CSE',
  'CSSE'],
 'City': ['Delhi',
  'Mumbai',
  'Kolkata',
  'Delhi',
  'Chennai',
  'Mumbai',
  'Delhi',
  'Kolkata',
  'Chennai',
  'Delhi',
  'Bhagalpur'],
 'Performance': ['Good',
  'Average',
  'Poor',
  'Good',
  'Average',
  'Good',
  'Good',
  'Average',
  'Poor',
  'Good',
  'Good']}

In [36]:
data

{'Name': ['Aman',
  'Riya',
  'Rahul',
  'Sneha',
  'Arjun',
  'Pooja',
  'Karan',
  'Neha',
  'Vikram',
  'Anjali',
  'Anshika'],
 'Gender': ['Male',
  'Female',
  'Male',
  'Female',
  'Male',
  'Female',
  'Male',
  'Female',
  'Male',
  'Female',
  'Female'],
 'Department': ['CSE',
  'IT',
  'ECE',
  'CSE',
  'ME',
  'IT',
  'CSE',
  'ECE',
  'ME',
  'CSE',
  'CSSE'],
 'City': ['Delhi',
  'Mumbai',
  'Kolkata',
  'Delhi',
  'Chennai',
  'Mumbai',
  'Delhi',
  'Kolkata',
  'Chennai',
  'Delhi',
  'Bhagalpur'],
 'Performance': ['Good',
  'Average',
  'Poor',
  'Good',
  'Average',
  'Good',
  'Good',
  'Average',
  'Poor',
  'Good',
  'Good']}

In [37]:
le = LabelEncoder()
df['Gender']=le.fit_transform(df['Gender'])

In [38]:
df

       Name  Gender Department       City Performance
0      Aman       1        CSE      Delhi        Good
1      Riya       0         IT     Mumbai     Average
2     Rahul       1        ECE    Kolkata        Poor
3     Sneha       0        CSE      Delhi        Good
4     Arjun       1         ME    Chennai     Average
5     Pooja       0         IT     Mumbai        Good
6     Karan       1        CSE      Delhi        Good
7      Neha       0        ECE    Kolkata     Average
8    Vikram       1         ME    Chennai        Poor
9    Anjali       0        CSE      Delhi        Good
10  Anshika       0       CSSE  Bhagalpur        Good

In [39]:
oh= OneHotEncoder(sparse_output=False)
data = oh.fit_transform(df[['Department']])
name = oh.get_feature_names_out(['Department'])
encoded_df = pd.DataFrame(data ,columns=name)
encoded_df

,Department_CSE,Department_CSSE,Department_ECE,Department_IT,Department_ME
0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0
5,0.0,0.0,0.0,1.0,0.0
6,1.0,0.0,0.0,0.0,0.0
7,0.0,0.0,1.0,0.0,0.0
8,0.0,0.0,0.0,0.0,1.0
9,1.0,0.0,0.0,0.0,0.0
10,0.0,1.0,0.0,0.0,0.0

In [40]:
df = pd.concat([df , encoded_df] , axis=1)
df

,Name,Gender,Department,City,Performance,Department_CSE,Department_CSSE,Department_ECE,Department_IT,Department_ME
0,Aman,1,CSE,Delhi,Good,1.0,0.0,0.0,0.0,0.0
1,Riya,0,IT,Mumbai,Average,0.0,0.0,0.0,1.0,0.0
2,Rahul,1,ECE,Kolkata,Poor,0.0,0.0,1.0,0.0,0.0
3,Sneha,0,CSE,Delhi,Good,1.0,0.0,0.0,0.0,0.0
4,Arjun,1,ME,Chennai,Average,0.0,0.0,0.0,0.0,1.0
5,Pooja,0,IT,Mumbai,Good,0.0,0.0,0.0,1.0,0.0
6,Karan,1,CSE,Delhi,Good,1.0,0.0,0.0,0.0,0.0
7,Neha,0,ECE,Kolkata,Average,0.0,0.0,1.0,0.0,0.0
8,Vikram,1,ME,Chennai,Poor,0.0,0.0,0.0,0.0,1.0
9,Anjali,0,CSE,Delhi,Good,1.0,0.0,0.0,0.0,0.0
10,Anshika,0,CSSE,Bhagalpur,Good,0.0,1.0,0.0,0.0,0.0

In [41]:
df.drop('Department' , axis=1 , inplace=True)

In [42]:
df

,Name,Gender,City,Performance,Department_CSE,Department_CSSE,Department_ECE,Department_IT,Department_ME
0,Aman,1,Delhi,Good,1.0,0.0,0.0,0.0,0.0
1,Riya,0,Mumbai,Average,0.0,0.0,0.0,1.0,0.0
2,Rahul,1,Kolkata,Poor,0.0,0.0,1.0,0.0,0.0
3,Sneha,0,Delhi,Good,1.0,0.0,0.0,0.0,0.0
4,Arjun,1,Chennai,Average,0.0,0.0,0.0,0.0,1.0
5,Pooja,0,Mumbai,Good,0.0,0.0,0.0,1.0,0.0
6,Karan,1,Delhi,Good,1.0,0.0,0.0,0.0,0.0
7,Neha,0,Kolkata,Average,0.0,0.0,1.0,0.0,0.0
8,Vikram,1,Chennai,Poor,0.0,0.0,0.0,0.0,1.0
9,Anjali,0,Delhi,Good,1.0,0.0,0.0,0.0,0.0
10,Anshika,0,Bhagalpur,Good,0.0,1.0,0.0,0.0,0.0

In [43]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good']])
df['Performance Eencoded'] = oe.fit_transform(df[['Performance']])
df

,Name,Gender,City,Performance,Department_CSE,Department_CSSE,Department_ECE,Department_IT,Department_ME,Performance Eencoded
0,Aman,1,Delhi,Good,1.0,0.0,0.0,0.0,0.0,2.0
1,Riya,0,Mumbai,Average,0.0,0.0,0.0,1.0,0.0,1.0
2,Rahul,1,Kolkata,Poor,0.0,0.0,1.0,0.0,0.0,0.0
3,Sneha,0,Delhi,Good,1.0,0.0,0.0,0.0,0.0,2.0
4,Arjun,1,Chennai,Average,0.0,0.0,0.0,0.0,1.0,1.0
5,Pooja,0,Mumbai,Good,0.0,0.0,0.0,1.0,0.0,2.0
6,Karan,1,Delhi,Good,1.0,0.0,0.0,0.0,0.0,2.0
7,Neha,0,Kolkata,Average,0.0,0.0,1.0,0.0,0.0,1.0
8,Vikram,1,Chennai,Poor,0.0,0.0,0.0,0.0,1.0,0.0
9,Anjali,0,Delhi,Good,1.0,0.0,0.0,0.0,0.0,2.0
10,Anshika,0,Bhagalpur,Good,0.0,1.0,0.0,0.0,0.0,2.0