In [1]:
import pandas as pd
import numpy as np

data = {
    'sname':['s1','s2','s3','s4'],
    'height':[162,171,155,165],
    'weight':[63,60,50,62],
    'speed':[5,3,7,2]
}

In [3]:
df=pd.DataFrame(data)
df

  sname  height  weight  speed
0    s1     162      63      5
1    s2     171      60      3
2    s3     155      50      7
3    s4     165      62      2

In [5]:
from sklearn.preprocessing import Normalizer

In [11]:
num=Normalizer()
df_numeric = df[['height','weight','speed']]
data = num.fit_transform(df_numeric)
df=pd.DataFrame(data, columns=df_numeric.columns)
df

     height    weight     speed
0  0.931619  0.362296  0.028754
1  0.943471  0.331042  0.016552
2  0.950831  0.306720  0.042941
3  0.936036  0.351722  0.011346

In [15]:
from sklearn.preprocessing import StandardScaler

In [19]:
s_num=StandardScaler()
df_numeric = df[['height','weight','speed']]
data = s_num.fit_transform(df_numeric)
df=pd.DataFrame(data, columns=df_numeric.columns)
df

     height    weight     speed
0 -1.211668  1.146183  0.316467
1  0.407308 -0.324909 -0.685041
2  1.412740 -1.469753  1.480945
3 -0.608380  0.648479 -1.112371

In [21]:
df

     height    weight     speed
0 -1.211668  1.146183  0.316467
1  0.407308 -0.324909 -0.685041
2  1.412740 -1.469753  1.480945
3 -0.608380  0.648479 -1.112371